@tailwind base;
@tailwind components;
@tailwind utilities;
/* index.css or App.css */
body {
  @apply bg-gray-300 text-white;
}
html, body {
  margin: 0;
  padding: 0;
  background-color: #000; /* match your theme */
}
